body{
    padding:10px;
    background:#222;
    color:#dfdfdf;
    font-family:monospace;
    font-style:italic;
}
.player{
    padding:2px;
    margin:20px 2px;
    background:rgba(20,170,250,0.5);
    border-radius:10px;
}
#results{
    padding:2px;
    margin:20px 2px;
    background:rgba(20,250,180,0.5);
    border-radius:10px;
}

button{
    padding:5px;
    margin:2px;
    background:rgba(0,160,252,0.6);
    width:25%;
    height:auto;
    color:#f00;
    border-radius:15px;
}
button:hover{
    width:27%;
    box-shadow:1px 1px 3px 5px rgba(0,160,252,0.8);
}

